<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no seu evento {{ meetup }}, confira os dados do participante:</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
